[submodule "_excludes/multi.js"]
	path = _excludes/multi.js
	url = https://github.com/Fabianlindfors/multi.js.git
	branch = master
[submodule "_excludes/pushy-buttons"]
	path = _excludes/pushy-buttons
	url = https://github.com/iRaul/pushy-buttons.git
