{% assign tools = site.data.utils.utilities | sort:"title" %}

{% for tool in tools %} {% if tool.title != '' %}
<div class="link-panel-container" data-tags="[{{ tool.tags | join: " , " }}]" id="{{ tool.title  | remove: " " | escape | remove: "." }}">
  <a href="{{ tool.href }}" name="{{ tool.title  | remove: " " | escape | remove: "." }}" target="_blank" aria-label="{{ tool.aria }}">
    <span class="link-panel"></span>
  </a>
  <h3 class="tool-brand"><a href="{{ tool.href }}">{{ tool.title }}</a></h3>
  <blockquote>
    <p>{{ tool.description }}</p>
  </blockquote>
  <hr>
</div>
{% endif %} {% endfor %}