// Sweet callout code from here: https://codepen.io/peterbenoit/pen/gRBjxP
.bs-callout {
    // padding: 20px;
    margin: 20px 0;
    min-height: 2em;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }
  
  .bs-callout i {
    font-size: 1.8em;
    // margin: .08em;
    margin-right: .3em;
    // min-width: 50px;
    // width: 50px;
    float: left;
  }
  
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .bs-callout p:last-child {
    margin-bottom: 0;
  }
  
  .bs-callout code {
    border-radius: 3px;
  }
  
  .bs-callout + .bs-callout {
    margin-top: -5px;
  }
  
  .bs-callout.bs-callout-default {
    border-left-color: #555;
  }
  
  .bs-callout.bs-callout-default h4,
  .bs-callout.bs-callout-default i,
  .bs-callout.bs-callout-default b {
    color: #555;
  }
  
  .bs-callout.bs-callout-primary {
    border-left-color: #075290;
  }
  
  .bs-callout.bs-callout-primary h4,
  .bs-callout.bs-callout-primary i,
  .bs-callout.bs-callout-primary b {
    color: #075290;
  }
  
  .bs-callout.bs-callout-success {
    border-left-color: #008040;
  }
  
  .bs-callout.bs-callout-success h4,
  .bs-callout.bs-callout-success i,
  .bs-callout.bs-callout-success b {
    color: #008040;
  }
  
  .bs-callout.bs-callout-danger {
    border-left-color: #dc0000;
  }
  
  .bs-callout.bs-callout-danger h4,
  .bs-callout.bs-callout-danger i,
  .bs-callout.bs-callout-danger b {
    color: #dc0000;
  }
  
  .bs-callout.bs-callout-warning {
    border-left-color: #AA5535;
  }
  
  .bs-callout.bs-callout-warning h4,
  .bs-callout.bs-callout-warning i,
  .bs-callout.bs-callout-warning b {
    color: #AA5535;
  }
  
  .bs-callout.bs-callout-info {
    border-left-color: #2574A9;
  }
  
  .bs-callout.bs-callout-info h4,
  .bs-callout.bs-callout-info i,
  .bs-callout.bs-callout-info b {
    color: #2574A9;
  }