@import "rouge-base16-dark";
@import "multiSelect";

body, .body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

a.nav-link {
  color: #b5e853 !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

a.dropdown-item {
  color: #b5e853 !important;
  background-color: transparent !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

figure.blog-post-thumb {
  text-align: center;

  img.post-thumb {
    min-width: 80%;
  }

  figcaption.blog-post-thumb-capt {
    text-align: left;
  }
}

.quote {
  font-style: italic;
}

.quote-attr {
  font-size: 0.9em;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1em;

  img {
    max-width: 100%;
  }
}

section {
  display: block;
  margin: 0 0 20px 0;
}

div.contacts p {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

.affix {
  top: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  line-height: 1.4 ;
}

li.nav-item {
  margin-left: 26px;
  margin-right: 1em;
}

li.nav-item.active {
  color: #b5e853 !important;
  text-decoration: underline !important;
}

a.dropdown-item.active {
  color: #b5e853 !important;
  text-decoration: underline !important;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

a.navbar-brand {
  // font-size: 30px;
  // line-height: 1.5;
  // margin: 0 0 0 40px;
  margin-right: 40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853 !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.post-brand {
  margin-right: 40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853 !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.blog-preview-title {
  margin-bottom: 0px;
  font-size: 1.2em;
}

.post-brand:before {
  content: "$ cat \"";
  color: #b5e853;
}

.posted-statement {
  font-size: 0.9em
}

.posted-statement:before, .posted-statement:after  {
  content: "---";
  // font-size: 1.3em;
  color: #b5e853;
}

.dropdown-toggle:focus + .dropdown-menu {
  display: block;
}

.post-brand:after {
  content: "\"";
  // font-size: 1.3em;
  color: #b5e853;
}

.tool-brand {
  margin-right: 40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853 !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.tool-brand:before {
  content: "$ ";
  // font-size: 1.3em;
  color: #b5e853;
}

div.tags-list {
  margin-top: -20px;

  span.tool-tag {
    font-size: 0.6em;
    border: solid;
    border-width: 1px;
    border-color: #b5e853;
    border-radius: 2px;
    padding: 2px;
  }
}

.link-panel-container {
  position: relative;
}

.link-panel {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8,
     make sure you have an empty gif */
  background-image: url('/assets/images/empty.gif');
}

div.dropdown-menu {
  background: black;
}

div.section-nav:before {
  content:"TOC";
  font-size: 1.3em;
  color: #b5e853;
}

div.section-nav:after {
  content: "----------";
  color: #b5e853;
}

a.navbar-brand:before {
  content: "./ ";
  // font-size: 1.3em;
  color: #b5e853;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image:url('../images/bullet.png');
}

ol {
  list-style: none;
  counter-reset: li;
}

ol li {
  counter-increment: li;
}

ol li:before {
  content: counter(li) " -> ";
  display: inline-block;
  width: 3em;
  margin-left: -2em;
  color: #b5e853;
  font-weight: bold;
}

.snippet-list-item:before {
  content: '..."';
  color: #b5e853;
  font-weight: bold;
}
.snippet-list-item:after {
  content: '"...';
  color: #b5e853;
  font-weight: bold;
}

.list-group-item {
  background:  rgba(255, 255, 255, 0.15);
  border-color: #b5e853;
  color: #b5e853;
}

blockquote, figcaption {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}

figcaption {
  font-size: 0.8em;

  div.thumb-attr {
    font-size: 0.6em;
    text-align: right;

    a {
      color: 63c0f5;
      text-shadow: initial;
    }
  }
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  border: 2px solid #b5e853 !important;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 1px #0275d8;
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}