<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {{ page.title }} - {{ site.title }}
    </title>

    {% include styles.html %} {% include analytics.html %}
    {% seo %}
</head>

<body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <span class="skiplink-text">Skip to main content</span>
    </a>

    <header>
        {% include navbar.html %}
    </header>
    <main role=main class="container">
        <div id="main_content" class="container inner">
                    {% if page.toc == true %}
                    <div class="section-nav">
                        {% include toc.html html=content %}
                    </div>
                    {% endif %}
                    {{ content }}
        </div>

        {% if page.contactShow%}
        </div>
        </div>
        {% endif %}
    </main>

    {% include scripts.html %}

</body>

</html>