<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {{ page.title }} - {{ site.title }}
    </title>

    {% include styles.html %} {% include analytics.html %}
    {% seo %}
    {% if page.thumbnail %}
    <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}">
    <meta property="og:image:alt" content="{{ page.imagealt }}">
    {% endif %}
</head>

<body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <span class="skiplink-text">Skip to main content</span>
    </a>

    {% include navbar.html %}
    <div class="container">
        <div id="content">

            <h1>{{ page.title }}</h1>
            {% if page.author or page.license %}
                <p class="text-right">
                    {% if page.author %}
                        By {{ page.author }}
                    {% endif %}
                    {% if page.license %}
                        </br>
                        {{ page.license }}
                    {% endif %}
                </p>
            {% endif %}
            {% if page.tags %}
            <label class="tools-filter-button" for="item-1">
                    <span>
                            This post is part of a series -- click here to view
                    </span>
                  </label>
                  <input type="checkbox" name="one" id="item-1" onchange="filterCheckHandler(this);" checked>
                  <div class="hide">
                    {% include postSeriesBar.html %}
                  </div>
        {% endif %}
            <hr>
            {% if page.disclaimer != "" %}
            <div class="disclaimer">
                {{ page.disclaimer }}
            </div>
            <hr>
        {% endif %}
            {% if page.instructions == true %}
                <div class="instructions-link">
                    <a href="{{ page.instructionsLink }}">click here to skip to the instructions</a>
                </div>
                <div>----------
                    </div>
            {% endif %}
            {% if page.toc == true %}
            <div class="section-nav">
                    {% include toc.html html=content %}
            </div>
            {% endif %}
            {{ content }}
        </div>
    </div>
    <footer class="footer navbar-fixed-bottom">
        <div class="container h-100">
            <div class="row h-100">
                <div class="my-auto">
                    <span class="text-white">
                        &copy; {{ "now" | date: "%Y" }} TimmsIO
                    </span>
                </div>
            </div>
        </div>
    </footer>
    {% include scripts.html %}
</body>

</html>